<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
  </ion-header>

  <div id="container">

    <ion-img src="../../assets/image_flag.png"></ion-img>
    <br><br>

    <strong>ARGENTINA<br><br>TIME</strong>
    <br><br>

    <p>News from Argentina</p>
    <br><br>

    <ion-toolbar>
      <ion-button color="dark" shape="round" expand="block" routerLink="/news">INGRESAR</ion-button>
    </ion-toolbar>
    <br><br>

    <p>&copy;{{currentYear}}</p>
    
  </div>

</ion-content>